:root {
  --color-black: 0, 0%, 0%;
  --color-white: 0, 0%, 100%;

  /* Neutrals */
  --color-grey-50: 0, 0%, 96.9%;
  --color-grey-100: 0, 0%, 89%;
  --color-grey-200: 0, 0%, 78.4%;
  --color-grey-300: 0, 0%, 64.3%;
  --color-grey-400: 0, 0%, 50.2%;
  --color-grey-500: 0, 0%, 40%;
  --color-grey-600: 0, 0%, 31.8%;
  --color-grey-700: 0, 0%, 26.3%;
  --color-grey-800: 0, 0%, 22%;
  --color-grey-900: 0, 0%, 19.2%;
  --color-grey-950: 0, 0%, 10.2%;

  /* Acccents */
  --color-blue-50: 217, 100%, 96.9%;
  --color-blue-100: 218, 94.6%, 92.7%;
  --color-blue-200: 217, 93.8%, 87.3%;
  --color-blue-300: 216, 94.5%, 78.4%;
  --color-blue-400: 217, 92.1%, 65.1%;
  --color-blue-500: 221, 89.3%, 59.8%;
  --color-blue-600: 225, 81.5%, 53.3%;
  --color-blue-700: 228, 74.7%, 48%;
  --color-blue-800: 230, 69.8%, 40.2%;
  --color-blue-900: 229, 63.1%, 32.9%;
  --color-blue-950: 231, 55.1%, 21%;

  --color-green-50: 113, 53%, 97%;
  --color-green-100: 113, 63.2%, 92.5%;
  --color-green-200: 113, 63.2%, 92.5%;
  --color-green-300: 115, 59.1%, 73.1%;
  --color-green-400: 115, 53.9%, 65.1%;
  --color-green-500: 115, 55%, 45.3%;
  --color-green-600: 115, 58.9%, 36.3%;
  --color-green-700: 116, 55.7%, 29.2%;
  --color-green-800: 116, 49.6%, 24.1%;
  --color-green-900: 116, 47.6%, 20.2%;
  --color-green-950: 118, 60.8%, 10%;

  --color-violet-50: 264, 100%, 98%;
  --color-violet-100: 266, 91.3%, 95.5%;
  --color-violet-200: 264, 95.2%, 91.8%;
  --color-violet-300: 265, 89.5%, 85.1%;
  --color-violet-400: 266, 88.9%, 75.3%;
  --color-violet-500: 267, 84.5%, 69.6%;
  --color-violet-600: 267, 75.1%, 55.9%;
  --color-violet-700: 268, 66.7%, 47.1%;
  --color-violet-800: 269, 62.2%, 39.4%;
  --color-violet-900: 270, 81.3%, 21%;
  --color-violet-950: 270, 81.3%, 21%;

  --color-pink-50: 313, 60%, 97.1%;
  --color-pink-100: 311, 63%, 94.7%;
  --color-pink-200: 313, 69.2%, 89.8%;
  --color-pink-300: 315, 72%, 81.8%;
  --color-pink-400: 316, 71.6%, 73.7%;
  --color-pink-500: 318, 68.3%, 60.4%;
  --color-pink-600: 321, 59.5%, 50.6%;
  --color-pink-700: 323, 65.4%, 42%;
  --color-pink-800: 324, 62.2%, 35.3%;
  --color-pink-900: 324, 57.4%, 30.4%;
  --color-pink-950: 324, 70.1%, 17.1%;

  --color-red-50: 350, 85.7%, 97.3%;
  --color-red-100: 348, 92.6%, 94.7%;
  --color-red-200: 345, 88.2%, 90%;
  --color-red-300: 346, 87.1%, 81.8%;
  --color-red-400: 345, 86.3%, 71.4%;
  --color-red-500: 343, 81.3%, 64.3%;
  --color-red-600: 340, 70.1%, 49.8%;
  --color-red-700: 338, 75%, 40.8%;
  --color-red-800: 336, 72.9%, 34.7%;
  --color-red-900: 335, 69%, 30.4%;
  --color-red-950: 337, 80.2%, 15.9%;

  --color-teal-50: 167, 52.9%, 96.7%;
  --color-teal-100: 168, 63.6%, 89.2%;
  --color-teal-200: 168, 62.2%, 78.2%;
  --color-teal-300: 170, 57.1%, 62.5%;
  --color-teal-400: 172, 48.6%, 50.4%;
  --color-teal-500: 173, 59.8%, 40%;
  --color-teal-600: 174, 62.7%, 31.6%;
  --color-teal-700: 175, 57.9%, 26.1%;
  --color-teal-800: 176, 51.4%, 21.8%;
  --color-teal-900: 180, 60.8%, 10%;
  --color-teal-950: 180, 60.8%, 10%;

  --color-yellow-50: 40, 90%, 96.1%;
  --color-yellow-100: 40, 86%, 88.8%;
  --color-yellow-200: 41, 86.4%, 71.2%;
  --color-yellow-300: 39, 86.7%, 64.5%;
  --color-yellow-400: 36, 86.5%, 56.3%;
  --color-yellow-500: 31, 82.7%, 50.2%;
  --color-yellow-600: 25, 84.8%, 43.7%;
  --color-yellow-700: 19, 81%, 37.1%;
  --color-yellow-800: 16, 73.8%, 31.4%;
  --color-yellow-900: 15, 68.9%, 26.5%;
  --color-yellow-950: 14, 83.3%, 14.1%;

  /* Dark Mode Colors */
  --accent-primary: var(--color-violet-500);
  --accent-secondary: var(--color-red-500);
  --accent-ternary: var(--color-yellow-500);
  --gradient-circles: radial-gradient(
      circle at 0% 5%,
      hsla(var(--color-red-900), 0.45),
      rgba(0, 0, 0, 0) 35%
    ),
    radial-gradient(
      circle at 100% 30%,
      hsla(var(--color-blue-900), 0.45),
      rgba(0, 0, 0, 0) 35%
    );

  color-scheme: dark;
}

/* Light Mode Colors */
:root[data-theme="light"] {
  --accent-primary: var(--color-blue-600);
  --accent-secondary: var(--color-violet-600);
  --accent-ternary: var(--color-pink-600);
  --gradient-circles: radial-gradient(
      circle at 0% 5%,
      hsla(var(--color-blue-300), 0.45),
      rgba(0, 0, 0, 0) 35%
    ),
    radial-gradient(
      circle at 100% 51%,
      hsla(var(--color-pink-300), 0.45),
      rgba(0, 0, 0, 0) 23%
    );

  color-scheme: light;
}
